In [ ]:
# install snscrape using pip
#important notice: require Python version 3.8+
#if <3.8, try "conda update python=[target version]" or create new conda env with "conda create -n [name you like] python=[target version]" in command line
!pip3 install snscrape

#or
#pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git

#more details please refer to the github link: https://github.com/JustAnotherArchivist/snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.5.0.20230113-py3-none-any.whl (69 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 69.2/69.2 KB 1.5 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.5.0.20230113

In [ ]:
# import libraries
import snscrape.modules.twitter as sntwitter
import snscrape.modules.twitter

import pandas as pd

In [ ]:
# create a list to append twitter data to
tweets_list1 = []

# use TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('#TurkeySyriaEarthquake since:2023-02-05 until:2023-02-17 min_faves:3 lang:en').get_items()):
    # if i >= 10:
    #     break
    tweets_list1.append([tweet.date,  tweet.content, tweet.user.location, tweet.likeCount])

<ipython-input-20-04079eb20f58>:8: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date,  tweet.content, tweet.user.location, tweet.likeCount])

In [ ]:
# create a dataframe to view the result
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Date', 'Content', 'User\'s location', '# of likes'])
tweets_df1

,Date,Content,User's location,# of likes
0,2023-02-16 23:48:21+00:00,#Turkey's #Erdogan will be digging his grave i...,Predicting the unpredictable!,3
1,2023-02-16 23:45:56+00:00,#Turkey's #Erdogan will be digging his grave i...,Predicting the unpredictable!,9
2,2023-02-16 23:44:19+00:00,"Mustafa, who was rescued tonight at the 261st ...",,132
3,2023-02-16 23:35:00+00:00,#ICYMI: Dartmouth-based @ninelocksbrew is aimi...,"Enfield, N.S.",5
4,2023-02-16 23:30:16+00:00,‚ÄòWhat we need to ask ourselves is how Muslims ...,London,7
...,...,...,...,...
11206,2023-02-06 12:31:17+00:00,Unbelievable: Another 6.0 earthquake shook the...,"Kyiv, Ukraine",142
11207,2023-02-06 10:12:20+00:00,Sad news from the #TurkeySyriaEarthquake\n\n65...,England,8
11208,2023-02-06 08:11:06+00:00,Praying üôèüïØüôèüïØ\nfor everyone affected by Deadly ...,"Phoenix, AZ",8
11209,2023-02-06 05:02:06+00:00,#TurkeySyriaEarthquake is heartbreaking traged...,"Washington, DC",3
11210,2023-02-06 04:49:47+00:00,Shrine of Hazrat Zainab [RA] during the earthq...,Jammu And Kashmir,201

In [ ]:
tweets_df1.to_csv('tweets.csv')